- Extract all keys of a dict, into a List of elements ( getting a list of all keys in a dictionary. )
- Write the defines of the different data structures (just a summary) you can check out some resources on greekforgeeks, w3schools, or realpython.org
- Read about list slicing and Remove function (you will discuss how it works, this coming week)
- Create lists, tuples, sets, dicts
-   Remove elements from list, tuple and set
-  Add element to list,tuple, sets, and dict
-  Also on the dict try to reassign a new valus to a key in a dict and also adding a new key-value pair

## Different data structures

# List

- List in python is refers to collection of ordered items 
- a list is mutable
- a list can store multiple items of different types, integers, strings, floats, or even other lists

In [2]:
# Creating a list
my_list = [1, "apple", 3.14, [2, 3, 4]]

In [7]:
# Accessing elements
print(my_list[1])  # Output: "apple"

apple

In [11]:
# Modifying elements
my_list[0] = 200
print(my_list)

[200, 'apple', 3.14, [2, 3, 4]]

In [12]:
# Adding elements
my_list.append("ball")
print(my_list)

[200, 'apple', 3.14, [2, 3, 4], 'ball']

In [13]:
# Removing elements
my_list.remove('apple')
print(my_list)

[200, 3.14, [2, 3, 4], 'ball']

# tuple

- A tuple is ordered collection of items
- tuples can hold elements of different data types: integers, strings, floats,
- but tuple is immutable (Once a tuple is created, you cannot change (add, remove, or modify) its elements)

In [5]:
# Creating a tuple
my_tuple = (1, "apple", 3.14)

In [6]:
# Accessing elements
print(my_tuple[1])  # Output: "apple"

apple

In [14]:
# Trying to modify an element (this will raise an error)
my_tuple[0] = 100  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [15]:
# Tuples can contain other tuples
nested_tuple = (1, (2, 3), "banana")
print(nested_tuple[1][1])

3

# set

- a set is mutable collection of unique items
- a set is an unordered items
- a set can store multiple elements
- a set do not allow duplicate values

In [17]:
# Creating a set
my_set = {1, 2, 3, "apple", "banana"}
print(my_set)

{1, 2, 3, 'apple', 'banana'}

In [19]:
# Adding elements to a set
my_set.add("ball")
print(my_set)

{1, 2, 3, 'apple', 'ball', 'banana'}

In [25]:
# Removing elements from a set
my_set.remove(2)
print(my_set)

{1, 'apple', 'ball', 'banana'}

In [27]:
# Trying to add duplicates
my_set.add("ball")
print(my_set)

{1, 'apple', 'ball', 'banana'}

# Dictionary

- a dictionary is a mutable items 
- a dictionary unordered collection of key-value pairs.
- a Each key in a dictionary is unique and is used to access its corresponding value
- No duplicate keys: Each key in a dictionary must be unique

In [29]:
# Creating a dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "country": "USA"
}

In [30]:
# Accessing values by key
print(my_dict["name"])

John

In [32]:
# Adding or updating a key-value pair
my_dict["Occupation"] = "Engineer"  # Adding a new key
my_dict["age"] = 31  # Updating an existing key
del my_dict["country"]
print(my_dict)

{'name': 'John', 'age': 31, 'Occupation': 'Engineer'}