# Python Functions

In [5]:
def happy_birthday():
    print('Happy birthday to you')
    print('Happy birthday to you')
    print('You are old')
    print()

In [6]:
happy_birthday()

Happy birthday to you
Happy birthday to you
You are old

In [7]:
happy_birthday()
happy_birthday()
happy_birthday()

Happy birthday to you
Happy birthday to you
You are old

Happy birthday to you
Happy birthday to you
You are old

Happy birthday to you
Happy birthday to you
You are old

In [10]:
def happy_birthday(name):
    print(f'Happy birthday to {name}')
    print('Happy birthday to you')
    print('You are old')
    print()

In [11]:
happy_birthday('Ayo')

Happy birthday to Ayo
Happy birthday to you
You are old

In [12]:
def happy_birthday(name, age):
    print(f'Happy birthday to {name}')
    print('Happy birthday to you')
    print(f'You are {age} year old')
    print()

In [13]:
happy_birthday('Ayo', 50)

Happy birthday to Ayo
Happy birthday to you
You are 50 year old

# Return statement

In [17]:
def create_name(first, last):
    return first + last
full_name = create_name('john','clark')
full_name = create_name('ayo','biden')

In [18]:
print(full_name)

ayobiden

In [22]:
def create_name(first, last):
    return first + ' '+ last 
full_name = create_name('john','clark')

In [23]:
print(full_name)

john clark

In [24]:
def create_name(first, last):
    return first.capitalize() + ' '+ last.capitalize()
full_name = create_name('john','clark')

In [25]:
print(full_name)

John Clark

In [ ]:
# Return statement/mapping statement

In [29]:
def function (x):
    return 10 * x

In [37]:
a = function (4)
b = function (10)
c = function (20)

In [41]:
a

40

In [42]:
b

100

In [43]:
c

200

# student cgp grading

In [66]:
# cgp calaculator
name1 = 'john'
total_score1 = 640
number_of_course1 =10

name2 = 'peter'
total_score2  = 890
number_of_course2 =10

name3 = 'terry'
total_score3  = 510
number_of_course3 =10

In [76]:
def cgp_calaculator( name, total_score, number_of_course):
    cgp= total_score / (number_of_course)
    print("cgp:")
    print(cgp)
    if cgp < 60:
        return name + "pass"
    else:
        return name + "credit"

In [77]:
cgp1 = cgp_calaculator (name1, total_score1, number_of_course1)
cgp2 = cgp_calaculator (name2, total_score2, number_of_course2)
cgp3 = cgp_calaculator (name3, total_score3, number_of_course3)

cgp:
64.0
cgp:
89.0
cgp:
51.0

In [78]:
print(cgp1)
print(cgp2)
print(cgp3)

johncredit
petercredit
terrypass